.profile
  .cover-img{style: "background: url('assets/THbanner.png');"}
    -# = image_tag "THbanner.png", class: "fb-image-lg", align: "left", alt: "Profile Cover"
  .top-content
    .row
      .col-md-1.col-sm-1.col-xs-1
      .col-md-2.col-sm-2.col-xs-2
        = image_tag "profile-icon.png", class: "image-profile thumbnail img-responsive", align: "left", alt: "Profile image"
      .col-md-9.col-sm-9.col-xs-9
        .profile-text
          %h1= @person.full_name
          %ul.list-inline.contact
            %li= @person.tagged_username
            %li
              %span.location
                %i.fa.fa-map-marker
              London, UK
        .profile-desc
          .row
            .col-md-6.col-lg-6
              %p.desc
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            .col-md-6.col-lg-6
              %ul.list-inline.additional-details
                %li
                  %span.value
                    31
                  %br/
                  %span.label
                    Items
                %li
                  %span.value
                    19
                  %br/
                  %span.label
                    Sales
                %li
                  %span.value
                    5, 436
                  %br/
                  %span.label
                    Followers
                %li
                  %span.value
                    352
                  %br/
                  %span.label
                    Following
                %li.feedback
                  %span.value
                    5/5
                  %br/
                  %span.label
                    + Feedback
  .bottom-content
    .row
      .col-md-6.col-sm-6.col-xs-6
        %ul.list-inline.listing-tabs
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "items", "data-toggle" => "tab", :href => "#items", :role => "tab"} Items:
          %li{:role => "presentation"}
            %a{"aria-controls" => "instgram", "data-toggle" => "tab", :href => "#instgram", :role => "tab"} Instagram:
      .col-md-6.col-sm-6.col-xs-6
        %ul.list-inline.list-right.socal-icons-list
          %li
            = link_to "", "#", class: "social-icons-fb"
          %li
            = link_to "", "#", class: "social-icons-instagram"
          %li
            = link_to "", "#", class: "social-icons-snapchat"
          %li
            = link_to "", "#", class: "social-icons-twitter"
          %li
            = link_to "", "#", class: "social-icons-pinterest"
    .row
      .col-md-9.col-sm-9.col-xs-9
        .tab-content
          #items.tab-pane.fade.in.active{:role => "tabpanel"}
            = render partial: "listings/listing"
          #instgram.tab-pane{:role => "tabpanel"}
      .col-md-3.col-sm-3.col-xs-3
        = render  partial: "side_section"
%br/
