- content_for :javascript do
  Listings.initializeListingsForm();
  $location = new Location();
  $location.initializeLocation();
  $location.setMapForm();

  window.wrapper_upload = $(".listing-uploads").find(".dummy-box");

.list-group.categories
  %a.list-group-item.active{:href => listings_path}
    Category:
    = @category.name
= form_for @listing, html: { class: "listing-form" }  do |f|
  = validation_errors_notifications(@listing)
  = f.hidden_field :category_id, value: @category.id
  .form-group
    = f.label :name, "Title"
    %br/
    = f.email_field :name, autofocus: true, class: "form-control input-lg"
  .form-group
    = f.label :description, "Detailed Description"
    %br/
    = f.text_area :description, class: "form-control input-lg"
  .form-group
    = f.label :product_type
    %br/
    = f.select :product_type, options_for_select(@products.map{ |v| [v.name] }), { include_blank: "--Select Product Type--" }, class: "form-control input-lg product-type-listing-input"
  .product-size
    .form-group
      -# Size field will be output
      - unless f.object.new_record?
        = yield f
  .form-group
    = f.label :price
    %br/
    = f.number_field :price, class: "form-control input-lg"
  .form-group
    = f.label :condition
    %br/
    = f.select :condition,  Listing::CONDITIONS.map{ |v| v }, { include_blank: "Select Condition" }, class: "form-control input-lg"

  .form-group
    = f.label :comapny, "Company/Designers"
    %br/
    = f.select :company_id,  @designers.map{ |v| [v.name, v.id] }, { include_blank: "Select Company/Designers" }, class: "form-control input-lg"

  .form-group
    = f.fields_for :address do |n|
      = n.label :location
      = n.text_field :location, value: @address.location, class: "form-control input-lg", id: "location_input"
      = n.hidden_field :latitude, class: "form-control input-lg", id: "latitude_input"
      = n.hidden_field :longitude, class: "form-control input-lg", id: "longitude_input"
      = n.hidden_field :place_id, value: @address.place_id, class: "form-control input-lg", id: "place_id_input"
      #google-maps

  .form-group
    = f.label :uploads, "Images"
    = render "uploads_form", f: f

  .form-actions
    = f.submit "Submit", class: "btn btn-primary"
