.col-md-3.col-sm-3.col-xs-3
  .thumbnail
    = image_tag listing.display_image.url(:medium)
    .caption
      %p.created= time_ago_in_words(listing.created_at)
      .desc
        %h4
          = listing.name
          %small= listing.size
        %p.content
          = listing.description
      %p.price= number_to_currency listing.price
