- content_for :javascript do
  Listings.infiniteScroll();
  Mobile.filtersTweaks();

.container
  .filter-board.visible-xs
    = button_tag class: "btn btn-sm btn-default btn-block", id: "toggle-filter-menu" do
      %i.fa.fa-filter
      Filters
  .row
    - unless mobile_device?
      .col-md-3.col-sm-3.col-xs-3
        = render partial: "filters"
    .col-md-9.col-sm-9.col-xs-12
      - if @p[:filters].present?
        %blockquote.blockquote.search-results
          %h3.page-header
            Results
            %small
              = pluralize(@listings.length, "Item")
      - if @listings.present?
        .listings#public-listings
          .row
            .listing-item
              = render partial: "listings/listing", collection: @listings

        #infinite-scrolling.items-pagination
          = will_paginate @listings, renderer: BootstrapPagination::Rails
      - else
        .alert.alert-success
          There are no listings

- content_for :collapsed_menus do
  -# Filters Menu
  #filter-menu
    .menu-collapse
      %div.dismiss-times
      %h3 Filters
      %ul.list-unstyled.sub-categories
        - @p[:filters].delete("product_type")
        %li
          %a{:href => inventory_path(@p.merge!(filters: { product_type: "tops" }))} Tops
        %li
          %a{:href => inventory_path(@p.merge!(filters: { product_type: "outerwear" }))} Outerwear
        %li
          %a{:href => inventory_path(@p.merge!(filters: { product_type: "bottoms" }))} Bottoms
        %li
          %a{:href => inventory_path(@p.merge!(filters: { product_type: "shoes" }))} Shoes
        %li
          %a{:href => inventory_path(@p.merge!(filters: { product_type: "accessories" }))} Accessories
      = render partial: "home/filters"
