- title "Login to your account"
= heading_section :h2, "Log in to Threadhabits"
.authform.authform-container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :login, "Email address or Username"
      %br/
      = f.text_field :login, autofocus: true, class: "form-control input-lg"
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control input-lg"
    -# - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me
    .form-actions
      = f.submit "Log in", class: "btn btn-default"
  %br/
  = render "devise/shared/links"
