%title
  = content_for(:title) ? yield(:title) : "Threadhabits - Buying and selling menswear."

-# %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
= csrf_meta_tags

- cache "v18" do
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= favicon_link_tag "#{S3_ASSET_PATH}/favicon_new.png"
= include_google_map(places: true)
