%p.sent-at.pull-right= Date.today.strftime("%B %d, %Y")
%p
  Dear
  = @resource.full_name
  ,
%p
  You've requested to reset password for your account
  %strong= @resource.tagged_username
  on Threadhabits.com
%p
  Below is the link to reset your password.
%p
  %strong Contact Us
  if you have any questions

%p.center-link
  = link_to 'RESET PASSWORD', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary", target: "_blank"

%p
  Thank you,
%p
  = link_to 'Threadhabits.com', root_url, target: "_blank"

%footer
  %ul.list-inline.company-info
    %li &copy; 2017 Threadhabits
    %li All Rights Reserved
    %li
      = link_to 'www.threadhabits.com', root_url, target: "_blank"
  %br
  %ul.list-inline.social-icons
    %li
      = link_to "#" do
        = image_tag "#{S3_ASSET_PATH}/social-icons/fb.png", class: "img-responsive"
    %li
      = link_to "#" do
        = image_tag "#{S3_ASSET_PATH}/social-icons/instagram.png", class: "img-responsive"
    %li
      = link_to "#" do
        = image_tag "#{S3_ASSET_PATH}/social-icons/snapchat.png", class: "img-responsive"
