- content_for :javascript do
  Mobile.headerTweaks();

- content_for :collapsed_menus do
  #navbar-menu
    .menu-collapse
      %div.dismiss-times
      %ul.list-unstyled.text-center
        - if person_signed_in?
          %li
            = person_mobile_view_avatar(current_person, inner_class: "alphabetical-avatar")
          %li
            = link_to "Log Out", destroy_person_session_path, method: :delete
        - else
          %li
            %a{:href => new_person_registration_path}
              Register
          %li
            %a{:href => new_person_session_path}
              Login
        %li
          %a{:href => about_us_path} About
        %li
          %a{:href => "/about_us#contact"} Contact
        - if person_signed_in?
          %li
            %a{:href => profiles_settings_path} Settings
        %li
          %a{:href => inventory_path} Marketplace
        %li.sell
          %a{:href => new_listing_path} Sell

%nav.navbar.navbar-default.device-header.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      .col-xs-1
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .col-xs-10.text-center
        %a.navbar-brand{:href => root_path}
          = image_tag S3_ASSET_PATH + "/threadhabitsheader_logo.png", class: "img-responsive"
      .col-xs-1
        %a.navbar-search{:href => "#"}
          %i.fa.fa-search

    -# Navbar search form
    .navbar-search-form
      = form_tag inventory_path(@p.merge!(filters: { q: @p[:filters][:q] })), method: :get do
        .form-group
          .input-group
            .input-group-addon.submit-search
              %i.fa.fa-search
            = text_field_tag "filters[q]", @p[:filters][:q], class: "form-control", placeholder: "Search"
            .input-group-addon.cancel-search
              %i.fa.fa-times