%nav.navbar.navbar-default.application-top-header.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .row
        .col-md-5.col-sm-5.col-xs-5.col-lg-5
          = form_tag fetch_listings_path(@p.merge!(filters: { q: @p[:filters][:q] })), method: :get, class: "navbar-search-form" do
            .form-group
              .input-group
                .input-group-addon
                  %i.fa.fa-search
                = text_field_tag "filters[q]", @p[:filters][:q], class: "form-control", placeholder: "Search"
        %ul.nav.navbar-nav.navbar-center.col-md-2.col-xs-2.col-sm-2.col-lg-2
          %li
            %a.brand_name{:href => root_path}
              = image_tag "#{S3_ASSET_PATH}/threadhabitsheader_logo.png", class: "img-responsive", style: "max-width: 100%;"
        %ul.nav.navbar-nav.navbar-right.col-md-5.col-xs-5.col-sm-5.col-lg-5

          - if person_signed_in?
            %li.side-right-li
              %a.sell-btn{:href => new_listing_path}
                %span Sell
            %li.side-right-li
              %a{:href => "#"}
                %i.fa.fa-shopping-bag
            %li.navbar-profile-icon.side-right-li.dropdown
              -# = image_tag "http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/profile-icon.png", class: "img-responsive"
              -# = image_tag current_person.avatar.url(:thumb), class: "img-responsive"
              = person_avatar(current_person, class: "alphabetical-avatar-nav")
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %span.profile-name= current_person.username
              .dropdown-menu
                %ul.nav.navbar-nav.dropdown-options
                  %li
                    %a{:href => inbox_index_path}
                      %i.fa.fa-inbox.fa-3x
                      %br/
                      Inbox
                      %span.notify_message
                        %i.fa.fa-circle
                  %li
                    %a{:href => profiles_path(current_person.username)}
                      %i.fa.fa-user.fa-3x
                      %br/
                      Profile
                  %li
                    %a{:href => profiles_settings_path}
                      %i.fa.fa-cog.fa-3x
                      %br/
                      Settings
                .dropdown-bottom
                  - if current_person.admin?
                    %ul.nav.navbar-nav
                      %li
                        %a{href: admin_root_path}
                          Admin Dashboard

                  %ul.nav.navbar-nav.navbar-right
                    %li
                      = link_to "Log Out", destroy_person_session_path, method: :delete

          - else
            %li.side-right-li
              %a.sell-btn{:href => new_listing_path}
                %span Sell

            %li.side-right-li
              %a{:href => new_person_registration_path}
                Register

            %li.side-right-li
              %a{:href => new_person_session_path}
                Login


          %li.side-left-li
            %a{:href => "/about_us#contact"} Contact
          %li.side-left-li
            %a{:href => about_us_path} About
