!!!
%html
  %head
    = render partial: "layouts/components/head"
  %body{ class: [view_controller, view_action].join(" ") }
    = include_gon

    - if mobile_device?
      = render partial: "layouts/navbar/device_navigation"
      = yield(:collapsed_menus) if content_for(:collapsed_menus)
    - else
      = render partial: "layouts/navbar/top_navigation"
      = render partial: "layouts/navbar/bottom_navigation"

    .main-container
      .container-fluid
        = yield(:heading_section) #Top Heading Section
        = render 'layouts/components/messages' unless @landing_banner
        %main
          = yield

        = render partial: "layouts/components/footer"
