!!!
%html
  %head
    = render partial: "layouts/components/head"
  %body{ class: [view_controller, view_action].join(" ") }
    = render partial: "layouts/navbar/top_navigation"
    = render partial: "layouts/navbar/bottom_navigation"

    - if @landing_banner
      .jumbotron.landing-banner
        %h1
          Buying and selling menswear.
        %p
          Buy or sell menswear. With designers and brands from A to Z, we've got you covered. Completely free to use. 0% commission taken.

    .container-fluid
      = yield(:heading_section) #Top Heading Section
      = render 'layouts/components/messages'
      %main
        = yield

      = render partial: "layouts/components/footer"
